{{!--     STEM-VRSE Node.js Web App     Author: Jordan Murphy - 2018      --}}
<h1>{{videoDisplayName}}</h1>
<p>This is the page for {{videoDisplayName}}</p>


<div class="container">
    <div class="row">


        <div class="col-7">
            <div id="videoDiv" data-video-name="{{videoName}}">
                <strong>{{videoDisplayName}}<a class="favoriteVideo" href="#favoriteVideo' + strippedName + '" id="favoriteVideo{{videoName}}" style="float: right;"><img id="favButton{{videoName}}" class="favButton" src="/assets/favorite.png" data-video-display-name="{{videoName}}" width="32px" height="32px"></a></strong>
                <div>
                    <iframe width="560" height="315" src="{{link}}'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div> 
            </div>
        </div>


         <div class="col-5">
            <div id="mapid"></div>
        </div>


    </div>
</div>
       